// floatingpanel styles
#admin-floatingpanel
    display: none
    position fixed
    box-sizing: border-box
    left: 0
    bottom: 0
    z-index 3333
    background-color alpha(#012, 0.7)
    color white
    padding 5px

#admin-floatingpanel.active
    display block
